.backgroundColor{
	background-color: powderblue;
}

.horizontal-list li {
    display: inline;
}

.horizontal-list {
    list-style-type: none;
    overflow: hidden; 
    background-color: #333333;
	display:flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	gap: 100px;
}

.horizontal-list li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Home_Container{
	margin-left: 30px;
	margin-right: 30px;
}

.border{
	border: 1px solid red;
}

header{
	display: flex;
	align-items: center;
	gap: 50px;
}

.profile-photo {
    clip-path: circle();
	/* height:"200";
	width:"300"; */

}

.projects-list{
	* {
		box-sizing: border-box;
	}


	ul {
		list-style: none;
		padding: 0;
	}

	li + li {
		margin-top: 1rem;
	}

	li {
		display: flex;
		align-items: center;
		gap: 1rem;
		background: aliceblue;
		padding: 1.5rem;
		border-radius: 1rem;
		width: calc(100% - 2rem);
		box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
	}

	li:nth-child(even) {
		flex-direction: row-reverse;
		background: honeydew;
		margin-right: -2rem;
		margin-left: 2rem;
	}

	/* Makes the fish face the centre */
	li:nth-child(even)::before {
		transform: rotateY(180deg);
	}

}

footer{
	display: flex;
	justify-content: center;
}